@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    //@include gradient;
    background: rgb(0,0,0, 0.7);
    

    li {
      padding: 0 0.7rem;

      a {
        color: $white !important;
        //padding: 1 0.7rem;
        text-transform: capitalize;
        font-weight: 600;      

      }
      &:hover {
        color: $white;
      }
  
    }
    
}
